{{define "block"}}
<div class="block">
  <div><b>Height </b> <span>{{.Height}}</span></div>
  <div>
    <b style="color: rgb(178, 25, 192)">Transactions <br /></b>{{range
    .Transactions}} {{template "transaction" .}} {{end}}
  </div>
  <div><b>Hash </b> <span>{{.Hash}}</span></div>
  <div>
    {{if .PrevHash}}
    <b>PrevHash </b> <span>{{.PrevHash}}</span>
    {{end}}
  </div>
  <div><b>Difficulty </b> <span>{{.Difficulty}}</span></div>
  <div><b>Nonce </b> <span>{{.Nonce}}</span></div>
</div>
{{end}}
