{{define "header"}}
<header>
      <nav>
        <a href="/" style="color: black"><h1>ELIZE</h1></a>
        <ul>
          <li>
            <a href="/"style="color: black">Home</a>
          </li>
          <li>
            <a href="/add"style="color: black">Add</a>
          </li>
        </ul>
      </nav>
      <h1>{{.}}</h1>
    </header>
{{end}} 