{{define "add"}}
<!DOCTYPE html>
<html lang="en">
  {{template "head" .PageTitle}}
  <body>
    {{template "header" .BlockHeight}}
    <main>
      <form method="POST">
        <input
          type="text"
          placeholder="Who will you send Elize to?"
          required
          name="user"
        />
        <input
          type="number"
          step="0.1"
          min="0"
          placeholder="How many?"
          required
          name="balance"
        />
        <button>Add Block</button>
      </form>
    </main>
    {{template "footer"}}
  </body>
</html>
{{end}}
